.card-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    width: 260px;
    .img-box{
        position: relative;
        height: 192px;
        overflow: hidden;
        border-radius: 14px;
        .card-img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .card-content{
        display: flex;
        color: white;
        margin-top: 12px;
        .avatar-box{
            display: flex;
            align-items: flex-start;
            .avatar-con{
                display: flex;
                height: 36px;
                width: 36px;
                border-radius: 50%;
                overflow: hidden;
                .avatar-img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .box{
            display: flex;
            flex-direction: column;
            margin-left: 12px;
            overflow: hidden;
            .box-title{
                font-size: 14px;
                line-height: 20px;
                font-weight: bold;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
            }
            .author-title{
                font-size: 12px;
                font-weight: 600;
                margin-top: 8px;
                color: #aaa;
                display: flex;
                align-items: center;
                .badjes-text{
                    color: #aaa;
                    font-size: 12px;
                    margin-left: 4px;
                }
            }
            .views-card{
                display: flex;
                font-size: 12px;
                font-weight: 600;
                color: #aaa;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                .views-bottom{
                    display: flex;
                    font-size: 24px;
                    line-height: 1;
                    font-weight: bold;
                    color: #aaa;
                    position: relative;
                    top: -10px;
                    margin-left: 4px;
                    margin-right: 4px;
                }
                .truncate{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }
}
@media (max-width:1300px) and (min-width:900px) {
    .card-box{
        width: 100%;
        z-index: 1;
        .img-box{
            height: 250px;
        }
    }
}
@media (max-width:900px) and (min-width:800px) {
    .card-box{
        width: 300px !important;
        z-index: 1;
        .img-box{
            height: 200px;
        }
    }
}
@media (max-width:800px) and (min-width:700px) {
    .card-box{
        width: 300px !important;
        z-index: 1;
        .img-box{
            height: 200px;
        }
    }
}
@media (max-width:700px) and (min-width:600px) {
    .card-box{
        width: 250px !important;
        z-index: 1;
        .img-box{
            height: 200px;
        }
    }
}
@media (max-width:600px) and (min-width:570px) {
    .card-box{
        width: 200px !important;
        z-index: 1;
        .img-box{
            height: 150px;
        }
    }
}
@media (max-width:570px) and (min-width:300px) {
    .card-box{
        width: 100% !important;
        z-index: 1;
        .img-box{
            height: 150px;
        }
    }
}